body {
    width: 1024px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow-y: scroll;
}

[unresolved] {
    visibility: hidden;
}

ff-record-list {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
}

ff-record {
    padding: 15px 1.5% 0 1.5%;
    width: 28%;
    overflow: hidden;
    margin: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ff-record img {
    width: 215px;
    height: 215px;
}

ff-record .priceContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

ff-record .price {
    color: #3c3c3b;
    font-weight: bold;
    text-decoration: underline;
}

ff-record .brand {
    color: #3c3c3b;
    font-weight: bold;
}

ff-record a, ff-record a:visited, ff-record a:active {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    height: 35px;
    overflow: hidden;
    display: block;
}

ff-searchbox input {
    height: 32px;
    width: 300px;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 15px;
    font-size: 15px;
    color: #3c3c3b;
}

ff-loading-spinner {
    text-align: center;
}

button:disabled {
    background-color: gray;
    background-image: none;
    cursor: default;
}


button {
    cursor: pointer;
    display: inline-block;
    border: none;
    color: #EDEDED;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    font-family: Verdana;
    width: auto;
    height: auto;
    font-size: 14px;
    padding: 10px 40px;
    box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D, 0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D, 0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D, 0 2px 4px 0 #D4D4D4;
    text-shadow: 0 1px 0 #FFFFFF;
    background-image: linear-gradient(to top, #006299, #006299);
    background-color: #006299;
    border-radius: 6px;
}

button:hover:not([disabled]) {
    border: none;
    color: #EDEDED;
    box-shadow: inset 0 1px 0 0 #007BBF, inset 0 -1px 0 0 #007BBF, inset 0 0 0 1px #007BBF;
    -moz-box-shadow: inset 0 1px 0 0 #007BBF, inset 0 -1px 0 0 #007BBF, inset 0 0 0 1px #007BBF;
    -webkit-box-shadow: inset 0 1px 0 0 #007BBF, inset 0 -1px 0 0 #007BBF, inset 0 0 0 1px #007BBF;
    background-color: #007BBF;
}
