[unresolved] {
    opacity: 0;
}

main {
    /*
        needs to have position relative cause sticky-collapsible-sidenav is positioned absolute
        hide overflow in addition so it hidden when collapsed
     */
    position: relative;
    overflow: hidden;
    display: block;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #006299;
}
[slot="caption"] {
    padding: 20px;
    color: white;
    font-weight: bold;
    background-color: #007BBF;
    top: 30%;
}
[slot="content"] {
    padding: 20px;
    color: white;
    min-width: 180px;
    font-weight: bold;
    text-align: left;
    background-color: #007BBF;
}

.rotated-text {
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
}
.rotated-text__inner {
    display: inline-block;
    white-space: nowrap;
    /* this is for shity "non IE" browsers
       that dosn't support writing-mode */
    -webkit-transform: translate(1.1em,0) rotate(90deg);
    -moz-transform: translate(1.1em,0) rotate(90deg);
    -o-transform: translate(1.1em,0) rotate(90deg);
    transform: translate(1.1em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    /* IE9+ */
    -ms-transform: none;
    -ms-transform-origin: none;
    /* IE8+ */
    -ms-writing-mode: tb-rl;
    /* IE7 and below */
    *writing-mode: tb-rl;
}
.rotated-text__inner:before {
    content: "";
    float: left;
    margin-top: 100%;
}

textarea {
    resize: none;
}