body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-wrapper {
    overflow: hidden;
    width: 1448px; /* 4 x total product width */
    border: blue 5px solid;
    position: relative;
}
.carousel-wrapper::before {
    text-align: center;
    color: white;
    background-color: blue;
    width: 100%;
    display: inline-block;
    padding-bottom: 3px;
}
.hats-carousel::before {
    content: 'Check our hats:';
}
.shoes-carousel::before {
    content: 'Check our shoes:';
}

.carousel {
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    z-index: 10;
    cursor: pointer;
}
.next-button {
    right: 0;
}

.product {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #b9b9b9;
    color: inherit;
    text-decoration: none;
}

.product img {
    width: 100%;
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.price {
    text-decoration: underline;
}

ff-record-list {
    width: 1448px;
}
