/*
    generic styles
 */

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    color: #575757;
}

body {
    width: 780px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow-y: scroll;
}

[unresolved] {
    visibility: hidden !important;
}


/*
    ff-searchbox
 */

.searchbar {
    margin: 1rem 0 2rem;
    padding: 0 10px;
}

ff-searchbox {
    display: flex;
    width: 100%;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}

ff-searchbox input {
    flex-grow: 1;
    outline: none;
    padding: .5rem 1rem;
    border: none;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #495057;
}

ff-searchbutton {
    flex-grow: 0;
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
}

ff-searchbutton button {
    height: 3rem;
    width: 3rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.25rem;
    cursor: pointer;
}

ff-searchbutton .icon-search {
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    background-size: contain;
    background-image: url("search.svg");
}


/*
    ff-record-list
 */

ff-record-list {
    display: flex;
    flex-wrap: wrap;
}

ff-record {
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 1px solid #b9b9b9;
    width: 240px;
    margin: 0 10px 20px 10px;
    user-select: none;
}

ff-record a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

ff-record .record-img {
    box-sizing: border-box;
    padding: 15px 15px 0 15px;
    height: 223px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

ff-record .record-img img {
    max-width: 100%;
    max-height: 100%;
}

ff-record .record-product-info {
    padding: 15px 15px 0 15px;
    font-size: .9rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ff-record h3.record-product-name {
    margin: 0;
    font-size: .9rem;
    line-height: 1.25rem;
    height: 2.5rem;
    margin-bottom: .5rem;
    overflow: hidden;
}

ff-record .record-product-brand,
ff-record .record-product-price {
    height: 1.5rem;
    overflow: hidden;
}

ff-record .record-product-add-to-cart {
    margin-top: 1.2rem;
    padding: 0 15px 15px 15px;
}

ff-record .record-product-add-to-cart button {
    display: inline-block;
    width: 100%;
    padding: .375rem .75rem;
    background-color: #004587;
    border: 1px solid #004587;
    line-height: 1.25rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
}

ff-record .record-product-add-to-cart button:hover {
    background-color: #003669;
}


/*
    ff-suggest
 */

ff-suggest {
    display: block;
}

ff-suggest .ffw-suggestContainerWrapper {
    width: 100%;
    border: 1px solid #b9b9b9;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.5);
}

ff-suggest .ffw-suggestContainer {
    padding: 20px;
}

ff-suggest h2.container-caption {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    color: #5a6268;
    margin-top: 0;
    margin-bottom: 1rem;
}

ff-suggest .search-terms-container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 33.3%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 10px;
}

ff-suggest .search-terms-container [data-container]:not(:first-child) {
    margin-top: 20px;
}

ff-suggest-item {
    display: block;
}

ff-suggest-item:hover {
    text-decoration: underline;
}

ff-suggest .search-terms-container ff-suggest-item {
    padding-bottom: 10px;
    line-height: 1.5rem;
    word-wrap: break-word;
    cursor: pointer;
}

ff-suggest .products-container .suggest-images {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
ff-suggest .products-container ff-suggest-item {
    flex: 0 0 calc(100% / 3);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 2rem;
    cursor: pointer;
}

ff-suggest-item .product-image {
    height: 130px;
    margin-bottom: 2rem;
    text-align: center;
}

ff-suggest-item .product-image img {
    max-width: 100%;
    max-height: 100%;
}

ff-suggest-item .product-info {
    font-size: 12px;
    text-align: center;
}

ff-suggest-item .product-info .product-name {
    height: 3em;
    overflow: hidden;
    font-weight: bold;
}

ff-suggest .all-results-container ff-searchbutton button {
    border: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: #2372bd;
    cursor: pointer;
}

ff-suggest-item span.ffw-query {
    font-weight: bold;
    color: #2372bd;
}


/*
    ff-asn
 */

ff-asn {
    border: 1px solid #b9b9b9;
    padding: .625rem .625rem 0;
    box-sizing: border-box;
    width: 240px;

    margin-bottom: 1rem;
}

ff-asn:empty {
    border: none;
}

ff-asn-group,
ff-asn-group-slider {
    margin-bottom: .625rem;
}

ff-asn-group .ffw-wrapper,
ff-asn-group-slider .ffw-wrapper {
    font-size: .8125rem;
    padding: 0 1em;
}

ff-asn [data-container=detailedLinks] {
    padding-top: .625rem;
}

ff-asn [slot=groupCaption] {
    background: #f9f9fa;
    padding: 1rem 2.5rem 1rem 1rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

ff-asn .expand-arrow > div {
    position: relative;
}

ff-asn .expand-arrow > div::after {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background: url("../assets/caret-right.svg");
    transform: rotate(180deg);
    background-size: cover;
    content: " ";
    right: -1.5rem;
    transition: all .3s ease;
}

ff-asn [opened] .expand-arrow > div::after {
    transform: rotate(90deg);
    transition: all .3s ease;
}

ff-asn-group[filter-style=TREE] [slot=groupCaption] {
    background: #004587;
    color: #fff;
    cursor: default;
}

ff-asn-group-element {
    word-break: break-word !important;
    margin-bottom: 1rem;
    cursor: pointer;
}

ff-asn-group-element:hover {
    color: #2c72ac;
}

ff-asn-group-element.clusterLevel1 {
    padding-left: .75em;
}
ff-asn-group-element.clusterLevel2 {
    padding-left: 1.5em;
}
ff-asn-group-element[selected] {
    font-weight: 500;
}

ff-asn [data-container=showMore],
ff-asn [data-container=showLess],
ff-asn [data-container=removeFilter] {
    cursor: pointer;
    margin-bottom: .625rem;
}

ff-asn-group,
ff-asn-group-slider {
    transition: none !important;
    min-width: unset !important;
    max-width: unset !important;
}

ff-asn-group-element .checkbox,
ff-asn-group-element .circle {
    display: inline-block;
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .3125rem;
}

ff-asn-group-element .checkbox {
    background-color: #b9b9b9;
    transition: all .3s ease;
}

ff-asn-group-element .circle {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    transition: all .3s ease;
}

ff-asn-group-element[selected] .checkbox,
ff-asn-group-element[selected] .circle,
ff-asn-group-element:hover .checkbox,
ff-asn-group-element:hover .circle {
    background: #47bfe9;
}

ff-asn-group-slider .ffw-sliderSection {
    margin-top: 5px;
}

ff-slider-one-touch {
    margin: 30px 2px 12px;
}

ff-asn-group-slider.one-touch-slider .ffw-sliderSection {
    pointer-events: none;
}

ff-slider-control .slider-inputs {
    display: flex;
    justify-content: space-between;
}

ff-slider-control input {
    pointer-events: all;
    height: 35px;
    width: 80px;
    box-sizing: border-box;
    border: 1px solid #b9b9b9;
    text-align: center;
}

ff-slider-one-touch .ffw-line {
    height: 5px;
    background-color: #4bbee9;
}

ff-slider-one-touch .ffw-slider-button {
    width: 25px;
    height: 25px;
    border: 1px solid #4bbee9;
    border-radius: 50%;
    background-color: #fff;
    transition-property: width, height;
    transition-duration: .2s;
    z-index: 1000;
}

ff-slider-one-touch .ffw-slider-container:hover .ffw-slider-button {
    width: 30px;
    height: 30px;
    transition-duration: .2s;
}

ff-slider-one-touch .ffw-triangle {
    border-color: transparent transparent #4bbee9;
    opacity: .17;
}

ff-slider {
    margin: 70px 2px 12px;
    background-color: #4bbee9;
}

ff-slider [slot^=slider] {
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    border: 1px solid #4bbee9;
    border-radius: 50%;
    background-color: #fff;
    margin-top: -10px;  /* this value is calculated from the button's height and the slider bar's default thickness */
}
