.demo {
    margin-bottom: 15px;
}

ff-breadcrumb-trail-item[type="search"] {
    color: red;
    cursor: crosshair;
}

ff-breadcrumb-trail-item[type="filter"] {
    color: blue;
    font-weight: bold;
}

ff-breadcrumb-trail-item[type="advisor"] {
    color: green;
}