ff-campaign-advisor {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00d4b4;
}

ff-campaign-advisor-question {
    margin: auto;
}

.answers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ff-campaign-advisor-answer {
    margin: 5px;
    cursor: pointer;
}

ff-campaign-advisor-answer h2 {
    text-align: center;
}

ff-campaign-feedbacktext {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
